/* HWD 04/02/24 Creation */

/* Large desktop */
@media (min-width: 1200px) {
       .linediv-l {
            border-right: 1px white solid;
       }
       .linediv-r {
            border-left: 1px white solid;
       }
}

@media (min-width: 992px) {
       .linediv-l {
            border-right: 1px white solid;
       }
       .linediv-r {
            border-left: 1px white solid;
       }
}

/* Landscape phones and down */
@media (max-width: 768px) {
    .copy {
        padding: 2.5% 10%;
    }
    .linediv-l {
        border-bottom: 1px white solid;
    }
    .linediv-r {
        border-top: 1px white solid;
    }
}

/* All form factors */

/* Main body and headings */
body {
    padding-top: 60px;
    /*font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
    font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
    /*text-align: center;*/
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 1em;
    line-height: 24px;
}

/* Marketing Copy and Footer */
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.footer {
    color: #cccccc;
    text-align: center;
}
.footer p {
    font-size: 11px;
}
.footer a {
    color: #ccccff;
}
/* Website update */
.update {
        color: #909090;
}

#data {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.progressBar {
  padding-top: 10px;
}

.greenJobs {
  background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
}

a.list-group-item.greenJobs {
  color: white;
}

.orangeJobs {
  background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
}

a.list-group-item.orangeJobs {
  color: white;
}

.redJobs {
  background-image: linear-gradient(to bottom,#d9534f 0,#c9302c 100%);
}

a.list-group-item.redJobs {
  color: white;
}

.border-me {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.another-job {
  color: blue;
}
