/* HWD 04/02/24 Creation */

/* Large desktop */
@media (min-width: 1200px) {
       .linediv-l {
            border-right: 1px white solid;
       }
       .linediv-r {
            border-left: 1px white solid;
       }
}

@media (min-width: 992px) {
       .linediv-l {
            border-right: 1px white solid;
       }
       .linediv-r {
            border-left: 1px white solid;
       }
}

/* Landscape phones and down */
@media (max-width: 768px) {
    .copy {
        padding: 2.5% 10%;
    }
    .linediv-l {
        border-bottom: 1px white solid;
    }
    .linediv-r {
        border-top: 1px white solid;
    }
}

/* All form factors */

/* Main body and headings */
body {
    padding-top: 60px;
    /*font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
    /*font-family: 'effra', museo-slab, Georgia, "Times New Roman", Times, serif;*/
    /*text-align: center;*/
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 1em;
    line-height: 24px;
}

/* Marketing Copy and Footer */
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.footer {
    color: #cccccc;
    text-align: center;
}
.footer p {
    font-size: 11px;
}
.footer a {
    color: #ccccff;
}
/* Website update */
.update {
        color: #909090;
}

#data {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.progressBar {
  padding-top: 10px;
}

div.progress-bar.progress-bar-success {
    background: #5cb85c;
}

.list-group-item.greenJobs:hover {
  /*background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);*/
    background: #5cb85c;
    border-radius: 0px;
}

div.progress-bar.progress-bar-warning {
    background: #e08037;
}

.list-group-item.orangeJobs:hover {
  /*background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);*/
    background: #e08037;
    border-radius: 0px;
}

div.progress-bar.progress-bar-danger {
    background: #7e0104;
}

.list-group-item.redJobs:hover {
  /*background-image: linear-gradient(to bottom,#d9534f 0,#c9302c 100%);*/
    background: #7e0104;
    border-radius: 0px;
}

.another-job {
  color: blue;
}

.alpha {
  float: right;
  color: #5cb85c;
}

.jobsPanelDetail {
  overflow: auto;
}

.no-soup-image, .no-soup-text {
  float: left;
}

.no-soup-text {
  margin-left: 10px;
}

.jobs-notes {
  height: 200px;
  overflow: auto;
}

/* additional theme */
html, body, #data {
  background: #3a3a3a;
}

.panel {
    background: #595959;
    border-radius: 0px;
    border: 5px solid #4b4b4b;
}

.form-panel, .panel-default>.panel-heading,
.panel-primary>.panel-heading {
    background: #4b4b4b;
    color: #cccccc;
    border: none;
}

h1, h3, p, a, li {
    color: #cccccc;
}

button#who-do-button, button#specific-job-button {
    background: #5cb85c;
    border: none;
}

button {
    border: none;
}

input {
    border-radius: 25px;
    border: none;
    background: #4b4b4b;
    padding-left: 5px;
    color: #cccccc;
}

::-webkit-input-placeholder {
    color: #cccccc;
}

button.convert-to-jira.btn.btn-sm.btn-primary,
button.hide-job.btn.btn-sm.btn-primary,
button.expand-job.btn.btn-sm.btn-primary {
    background: #4b4b4b;
    border: none;
    -webkit-box-shadow: none;
    color: #cccccc;

}


button.convert-to-jira.btn.btn-sm.btn-primary:hover,
button.hide-job.btn.btn-sm.btn-primary:hover,
button.expand-job.btn.btn-sm.btn-primary:hover {
    background: #595959;
    border: none;
    -webkit-box-shadow: none;
    color: #cccccc;
}

.more-detail {
    /*float: right;*/
    background: #595959;
    border: none;
    -webkit-box-shadow: none;
    color: #cccccc;
}

.more-detail:hover {
    background: #4b4b4b;
    color: #cccccc;
}

.btn-primary {
    background: #595959;
}

div.list-group {
    background: #4b4b4b;
    border: 5px solid #4b4b4b;
    border-radius: 0px;
}

a.list-group-item, .list-group-item {
    background: #4b4b4b;
    border: none;
    color: #cccccc;
    text-shadow: none;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item:hover {
    /*background: #595959;*/
    border: none;
    color: #cccccc;
    text-shadow: none;
    border-radius: 0px;
}

a.list-group-item.jobs-in-progress:hover {
    background: #9351a6;
}

a.list-group-item.jobs-on-wait:hover {
    background: #4472b9;
}

a.list-group-item.jobs-on-hold:hover {
    background: #20B2AA;
}

/* I need this incase the %s don't quite add up to 100 */
div.progress {
    background: #4b4b4b;
}

/* shade the odd elements */
.big-job-data:nth-child(even) {
    background: #4b4b4b;
}

div.panel-body.big-body {
    padding: 0px;
}

.big-job-data>p {
    padding-left: 15px;
    margin: 0px;
}

.jobs-title, .job-number {
    /*float: left;*/
    display: inline-block;
}

.job-number {
    padding-left: 5px;
}

.pie-chart-outer {

    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: blue;
}

.pie-chart-inner {
    height: 80%;
    width: 80%;
    margin: auto auto;
    border-radius: 100%;
    background-color: black;
}

.deliverable-date-title, .deliverable-date {
    /*float: left;*/
    display: inline-block;
}

.deliverable-date {
    margin-left: 2px;
}

.a.list-group-item.jobs-in-progress.active {
    color: #9351a6;
}

.onoffswitch-label {
    border: none;
}

.onoffswitch-inner:before {
    background-color: #428bca;
}


.onoffswitch-inner:after {
    background-color: #4b4b4b;
}