<div class="jumbotron">
    <div class="container">
        <ul class="genres">
            <li ng-repeat="status in statuss">
                <span ng-click="filterByJob(status)">Status {{status}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="container" ng-controller="JobsController as jobsCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            Jobs {{headingTitle}}
            <div class="pull-right">
                <input class="search" type="text" ng-model="query.name" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body">

            <div ng-show="jobsCtrl.jobsData.length === 0"><p>Cool - looks like you don't have any jobs to show!</p></div>

            <div class="row show-list">
                <div class="list-group">
                    <div class="list-group-item panel panel-body col-sm-6" ng-repeat="job in jobsCtrl.jobsData">

                        <h3>{{job.jobNumber}}</h3>

                        <job-tabs></job-tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
