<div class="jumbotron">
    <div class="container">
        <ul class="genres">
            <li ng-repeat="status in statuss">
                <span ng-click="filterByStatus(status)">Status {{status}}</span>
            </li>
        </ul>

        <ul class="genres">
            <li ng-repeat="import in importances">
                <span ng-click="filterByImportance(import)">Import {{import}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="container" ng-controller="JobsController as jobsCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{headingTitle}}
            <div class="pull-right">
                <input class="search" type="text" ng-model="query.jobNumber" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body">

            <div ng-show="jobsCtrl.jobsData.length === 0"><p>Cool - looks like you don't have any jobs to show!</p>
            </div>

            <div class="row show-list">
                <div class="list-group">
                    <div class="list-group-item panel panel-body col-sm-6"
                         ng-repeat="job in jobsCtrl.jobsData | filter: {status: sublist} | filter: { importance : subImport } | filter: query">
                        <h3><a href="/detail/job/{{job.jobNumber}}">{{job.jobNumber}}</a>

                            <div class="pull-right">Status {{job.status}}</div>
                        </h3>
                        <div>
                            <h4 ng-repeat="deliverable in job.deliverables" ng-if="$first">Next deliverable:
                                {{deliverable.promisedDate}}</h4>
                            <h4 class="pull-right">Importance: {{job.importance}}</h4>
                        </div>
                        <job-tabs></job-tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
