<div class="jumbotron">
    <div class="container">
        <ul class="genres">
            <li ng-repeat="job in jobs">
                <span ng-click="filterByJob(job)">Status {{job}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="container" ng-controller="JobsController as jobsCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            Jobs {{headingTitle}}
            <div class="pull-right">
                <input class="search" type="text" ng-model="query.name" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body">
            <div class="row show-list">
                <div class="list-group">
                    <div class="list-group-item panel panel-body col-sm-6" ng-repeat="job in jobsCtrl.jobsData">

                        <h3>{{job.jobNumber}}</h3>

                        <job-tabs></job-tabs>
                        <!--<section ng-controller="TabsController as tabCtrl">
                            <ul class="nav nav-pills">
                                <li ng-class="{ active:tabCtrl.isSet(1) }">
                                    <a href="" ng-click="tabCtrl.setTab(1)">Description</a>
                                </li>
                                <li ng-class="{ active:tabCtrl.isSet(2) }">
                                    <a href="" ng-click="tabCtrl.setTab(2)">Status</a>
                                </li>
                                <li ng-class="{ active:tabCtrl.isSet(3) }">
                                    <a href="" ng-click="tabCtrl.setTab(3)">Notes</a>
                                </li>
                            </ul>

                            &lt;!&ndash;  Description Tab's Content  &ndash;&gt;
                            <job-description ng-show="tabCtrl.isSet(1)"></job-description>

                            &lt;!&ndash;  Status Tab's Content  &ndash;&gt;
                            <jobs-status ng-show="tabCtrl.isSet(2)"></jobs-status>

                            &lt;!&ndash;  Notes Tab's Content  &ndash;&gt;
                            &lt;!&ndash;  Job Notes List &ndash;&gt;
                            <job-notes ng-show="tabCtrl.isSet(3)"></job-notes>

                        </section>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
