<!-- tabs section -->
<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active:tabCtrl.isSet(1) }">
            <a href="" ng-click="tabCtrl.setTab(1)">Summary</a>
        </li>
        <li ng-class="{ active:tabCtrl.isSet(2) }">
            <a href="" ng-click="tabCtrl.setTab(2)">Status</a>
        </li>
        <li ng-class="{ active:tabCtrl.isSet(3) }">
            <a href="" ng-click="tabCtrl.setTab(3)">Updates</a>
        </li>
        <li ng-class="{ active:tabCtrl.isSet(4) }">
            <a href="" ng-click="tabCtrl.setTab(4)">Billing</a>
        </li>
    </ul>

    <!--  Description Tab's Content  -->
    <job-summary ng-show="tabCtrl.isSet(1)"></job-summary>

    <!--  Status Tab's Content  -->
    <jobs-status ng-show="tabCtrl.isSet(2)"></jobs-status>

    <!--  Notes Tab's Content  -->
    <job-notes ng-show="tabCtrl.isSet(3)"></job-notes>

    <div ng-show="tabCtrl.isSet(4)">
        <p>Work order: <a href="/detail/job/{{job.workorder}}">{{job.workorder}}</a></p>
        <p>Whos' paying: {{job.whoPay}}</p>
        <p>Invoice text: {{job.invoiceText}}</p>
    </div>

</section>