<!-- to be removed -->
<div class="jobsPanelDetail col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Job number: {{jobNumber}} ({{status}})</h3>

            <p>Owner: {{whoDo}}</p>

            <p class="deliverable-date-title">Next deliverable:</p>

            {{#deliverables.0}}<p class="deliverable-date">{{promisedDate}}</p>{{/deliverables.0}}

            <div class="panel-options">
            <!-- hwd remove buttons for now -->
            </div>
        </div>
        <div class="panel-body big-body">
            <div class="big-job-data col-sm-12"><p>Description: {{description}}</p></div>
            <div class="col-sm-8">
                <div class="big-job-data"><p>{{notes}}</p></div>
            </div>
            <div class="col-sm-4">
                <div class="big-job-data"><p>Client: {{client}}</p></div>
                <div class="big-job-data"><p>Priority: {{importance}}</p></div>
                <div class="big-job-data"><p>Contact: {{contact}}</p></div>
                <div class="big-job-data"><p>Functional area: {{functionalArea}}</p></div>
                <div class="big-job-data"><p>Defect: {{defect}}</p></div>
                <div class="big-job-data"><p>Live: {{liveUat}}</p></div>
                <div class="big-job-data"><p>Urgent: {{urgent}}</p></div>
                <div class="big-job-data"><p>Release: {{release}}</p></div>
                <div class="big-job-data"><p>System: {{system}}</p></div>
            </div>


            <div class="col-sm-6" id="big-me">
                <h3>Billing crap</h3>
                <div class="big-job-data">
                    <p>Who pay: {{whoPay}}</p>
                </div>
                <div class="big-job-data"><p>Work order: {{workorder}}</p></div>
                <div class="big-job-data"><p>Entered by: {{enteredBy}}</p></div>
                <div class="big-job-data"><p>Invoice text: {{invoiceText}}</p></div>
                <div class="big-job-data"><p>Entered: {{enteredDate}} at {{enteredTime}}</p></div>
                <div class="big-job-data"><p>Project: {{project}}</p></div>

            </div>
            <div class="col-sm-6">
                <h3>IRs</h3>
                <ul>
                    <li>IR 12345</li>
                    <li>IR 12345</li>
                </ul>
            </div>
        </div>
    </div>
</div>