<!--

04/02/14 HWD creation

-->
<div id="homeTest">
    <div class="page-header">
        <h1>Jobs5 | v0.1</h1>
    </div>
    <div class="jobsForm col-sm-6">
        <div class="panel panel-default">
            <div class="form-panel panel-heading">
                <h3 class="panel-title">My jobs3/JIRA summary</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="whodo">
                        <form action="javascript:void(0);">
                            <input type="text" id="who-do-text-box" name="users-jobs-button" autofocus tabindex="1"
                                   placeholder="Initials" autocomplete="off">
                            <button type="button" id="who-do-button" class="btn btn-sm btn-primary" tabindex="2"><i
                                    class="fa fa-child" title="Well .. I'm me .."></i></button>
                        </form>
                    </div>
                    <div id="person-summary">
                    </div>
                </div>
                <div id="user-message-panel" class="col-sm-6">
                </div>
                <div id="users-jobs-summary">
                </div>
            </div>
        </div>
    </div>
    <div class="specificForm col-sm-6">
        <div class="panel panel-default">
            <div class="form-panel panel-heading">
                <h3 class="panel-title">Get specific job/jira task details</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="whodo">
                        <form action="javascript:void(0);">
                            <input type="text" id="specific-text-box" name="job-number" autofocus tabindex="3"
                                   placeholder="Job number" autocomplete="off">

                            <button type="button" id="specific-job-button" class="btn btn-sm btn-primary" tabindex="4">
                                <i class="fa fa-search" title="Well .. I'm me .."></i></button>
                        </form>
                    </div>
                </div>
                <div id="specific-job-info" class="col-sm-8">
                </div>
            </div>
        </div>
    </div>
    <div id="specific-job">
    </div>
    <div id="users-jobs-detail">
    </div>
</div>

<script src="../../content/homeJobsGetter.js" type="text/javascript"></script>