<div class="col-sm-12 border-me"></div>
<div class="col-sm-6">
    <div class="list-group">
        <p class="list-group-item">You have {{jobs.length}} jobs assigined to you</p>
        <a href="#" class="list-group-item active">5 in progress</a>
        <a href="#" class="list-group-item jobs-on-wait">3 on wait</a>
        <a href="#" class="list-group-item jobs-on-hold">1 on hold</a>
    </div>
</div>
<div class="progressBar col-sm-6">
    <div class="progress" title="67% success ... 22% today ... 11% (1) late">
        <div class="progress-bar progress-bar-success" style="width: 67%">
            <span class="sr-only">67% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 22%">
            <span class="sr-only">11% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 11%">
            <span class="sr-only">22% Complete (danger)</span>
        </div>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item greenJobs">6 deliverables all ok (3 in the next 7 days)</a>
        <a href="#" class="list-group-item orangeJobs">1 deliverable due today</a>
        <a href="#" class="list-group-item redJobs">2 late jobs</a>
    </div>
</div>
