<div class="jobs-full-panel-detail col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Job number: {{jobNumber}}</h3>
            <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-database" title="Convert to JIRA issue"></i></button>
            <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-compress" title="Shrink"></i></button>
        </div>
        <div class="panel-body">
            <p>Description: description text</p>
            <p>Project: something</p>
            <p>This is a bigger bit of text - should be a fixed hight? Click on this and you can edit it</p>
            <p>Work order: 1234567 <button type="button" class="btn btn-sm btn-default"><i class="fa fa-link" title="Get linked job/issue"></i></button></p>
        </div>
    </div>
</div>
