<!-- TODO style this -->
<div class="jobsPanelDetail col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Settings</h3>
        </div>
        <div class="panel-body big-body">
        	<div class="col-sm-4">
            	<p>User: <span class="user"></span></p>
            	<p class="settings-text">Remember me:</p>
            	<div class="onoffswitch">
            		<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox remember-me" id="remember-me-onoff">
            		<label class="onoffswitch-label" for="remember-me-onoff">
            			<span class="onoffswitch-inner"></span>
            			<span class="onoffswitch-switch"></span>
            		</label>
            	</div>
            	<p class="settings-text">Show help text:</p>
            	<div class="onoffswitch">
            		<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox help-text" id="help-text-onoff">
            		<label class="onoffswitch-label" for="help-text-onoff">
            			<span class="onoffswitch-inner"></span>
            			<span class="onoffswitch-switch"></span>
            		</label>
            	</div>
                <p class="settings-text">Remove me:</p>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox remove-me" id="remove-me-onoff">
                    <label class="onoffswitch-label" for="remove-me-onoff">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
        	</div>
        </div>
    </div>
</div>